body {
  font-family: "Muli", sans-serif;
}

.font-weight-black {
  font-weight: 900;
}

.grayColor {
  color: #8e8e93;
}

.inputBg {
  background-color: #f2f2f2;
}

.form-control {
  height: 50px;
}
